name: PR

on:
  merge_group:
  pull_request:
    branches:
      - master

jobs:
  commitlint:
    name: Check Commit Message
    runs-on: ubuntu-latest
    if: "${{ !startsWith(github.event.pull_request.title, 'chore: release') && !startsWith(github.event.pull_request.title, 'chore: bump version to') }}"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v6
        with:
          configFile: package.json
          failOnWarnings: true
  build:
    name: Build
    needs: [commitlint]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        jdk: [21, 25]
      fail-fast: false
    steps:
      - name: Setup redis on MacOS
        if: matrix.os == 'macos-latest'
        run: |
          brew install redis
          brew services start redis

      - name: Setup redis on Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          docker run --name redis -p6379:6379 -d redis:7.4.0-alpine

      - name: Setup wsl on Windows
        if: matrix.os == 'windows-latest'
        uses: Vampire/setup-wsl@v3
        with:
          distribution: Debian

      - name: Setup redis on Windows
        if: matrix.os == 'windows-latest'
        run: |
          wsl sudo apt-get update
          wsl sudo apt-get install -y redis-server
          wsl sudo service redis-server start

      - uses: actions/checkout@v6

      - name: Setup JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.jdk }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Build with Gradle
        env:
          redis-host: redis://127.0.0.1:6379
          skip_benchmark: true
        run: ./gradlew clean build --info
